body {
    /* background-color: black; */
    color:black;
    text-align: center;
  }
  

table {
margin: -0 auto;
border: 1px black solid;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px black solid;
    
}

.unshown span{
display: none;
}

img {
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

footer{
    margin-top: 25px;
}

