.footer-container{
    margin-block-start: 20px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: black;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns:
        minmax(auto, 300px) 
        
}

.footer-container .box{
    display: flex;
    flex-direction: column;
}

.footer-container .credit{
    margin-block-start: 20px;
    margin-block-end: 20px;
    grid-row:2;
    grid-column: 1/5;
    align-self: center;
    text-align: center;
}

.footer-container .box a:hover{
transition: .5s;
margin-inline-start: 20px;
}
