.memes-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-auto-flow: dense;
    gap: 10px;
    padding: 60px;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

.memes-grid-container img:hover{
    scale: 1.2;
    border:2px black solid;
    transition: 0.4s;
    }